.a_propos_title_1{
    font-family:"Montserras", sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: #0066BD;
}
.a_propos_text{
    text-align: justify;
}
.a_propos_title_2{
    font-family:"Montserras", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}