.changePassword {
  background: linear-gradient(
      rgba(158, 158, 158, 0.5),
      rgba(158, 158, 158, 0.5)
    ),
    url("../Components/assets/Images/key.avif");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  min-height: 100vh;
}
