.Questions {
  background-color: rgb(250, 250, 250);
}

.FAQ,
.Aide {
  font-family: "Open Sans", sans-serif;
  color: "#00BD66";
}
.btn_aide {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
.reponse {
  font-family: "Roboto", sans-serif;
}
