.titre_principal_text {
  font-family: "Open sans", sans-serif;
  color: #fa7f1b;
  font-weight: bold;
}
.titre_principal {
  background-color: rgb(234, 235, 240);
}
.Produits_phares {
  border: solid 3px rgba(206, 206, 207, 0.733);
  border-radius: 10px;
}
.product_img {
  height: auto;
  width: 75%;
}

@media (max-width: 575.98px) {
  .Description_produits_mobile{
    height: 120px;
  }
}


@media (min-width: 576px) {
  .Description_produits_mobile {
    height: 120px;
  }
}
.Description_produits .product-item:first-child {
  margin-top: 0 !important;
}

.product_img_mobile {
  height: 100%;
  width: auto;
}
.best_product_name,
.best_product_price {
  font-family: "Roboto", sans-serif;
  font-size: medium;
}
.best_product_name {
  font-weight: bold;
}
