.connexion_form {
  background: linear-gradient(
      rgba(109, 109, 109, 0.5),
      rgba(109, 109, 109, 0.5)
    ),
    url("../Components/assets/Images/background_register.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.formulaire_connexion {
  border: solid 1px white;
  border-radius: 15px;
  box-shadow: 0px 5px 5px 5px rgb(153, 153, 153);
  background-color: white;
}
.button_login.btn {
  border: solid 1px #0066bd;
  border-radius: 50px;
  background-color: #0066bd;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
.connexion_img {
  position: absolute;
  bottom: 0%;
  margin-left: 5%;
}
