@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.form-select {
  border-right: 1px solid rgb(54, 52, 52);
  border-left: 0px;
  border-top: 0px;
  border-bottom: 0px;
}
.navbar2 {
  position: sticky !important;
  top: 0;
}

.dropdown-menu {
  position: absolute !important;
  z-index: 9999 !important;
}

.navigation_produit {
  background-color: rgb(42, 47, 112);
  width: 100%;
}
.category-menu {
  height: 80vh; /* ou calc(100vh - 64px) si tu as un header fixe de 64px */
  overflow: hidden; /* évite les doubles scrollbars */
  min-height: 0; /* IMPORTANT en flex column */
}

/* La zone intérieure qui scrolle */
.menu-scroll {
  flex: 1 1 auto; /* occupe l’espace disponible */
  min-height: 0; /* CRUCIAL pour que overflow fonctionne en flex */
  overflow-y: auto; /* active le scroll vertical */
  padding-bottom: 5px; /* petit confort pour le bas */
}
.menu-scroll::-webkit-scrollbar {
  width: 6px;
}
.menu-scroll::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.mon_compte {
  font-family: "Open Sans", sans-serif;
}
.register {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: bolder;
}
.nav-link,
.tel {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: bolder;
}
.select_1 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
}

#navbarCollapse {
  position: fixed;
  top: 0;
  right: -300px; /* menu caché en dehors de l'écran à droite */
  width: 250px;
  height: 100vh;
  background: #ffff; /* couleur de fond */
  transition: right 0.4s ease-in-out;
  padding-top: 40px;
  z-index: 1050; /* pour être au-dessus */
}

/* Quand le menu est affiché */
#navbarCollapse.show {
  right: 0;
}

/* Croix rouge */
#navbarCollapse .close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  background: transparent;
  font-size: 24px;
  color: red;
  cursor: pointer;
}

/* Les liens */
#navbarCollapse ul li {
  list-style: none;
  padding: 5px;
  cursor: pointer;
  transition: background 0.2s;
}

#navbarCollapse ul li:hover {
  background: rgba(255, 255, 255, 0.1);
}

@media (max-width: 575.98px) {
  /* Styles pour les écrans XS */
  .logo {
    width: 100%;
    height: auto;
  }
  .petit_titre {
    font-weight: normal;
    font-size: 16px;
  }
  .panier_parent {
    display: flex;
    flex-direction: row;
  }
  .panier_length {
    font-size: 10px !important;
    min-width: 15px !important;
  }
  .lien_mon_compte {
    font-size: 0.8rem;
  }
  .mon_compte {
    font-size: 0.7rem;
  }
}

@media (min-width: 576px) {
  .logo {
    width: 100%;
  }
  .panier_length {
    font-size: "14px";
    min-width: "20px";
  }
  .panier {
    font-size: 2rem;
  }
  .mon_compte {
    font-size: 1rem;
  }
}
@media (min-width: 768px) {
  .logo {
    width: 100%;
  }
  .panier {
    font-size: 3rem;
  }
  .panier_length {
    font-size: "14px";
    min-width: "20px";
  }
  .mon_compte {
    font-size: 1rem;
  }
  .partie_mon_compte {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 992px) {
  .navbar2 {
    height: 80px;
  }
  .logo {
    width: 100%;
  }
  .panier_length {
    font-size: "14px";
    min-width: "20px";
  }
  .panier {
    font-size: 2.5rem;
  }
  .mon_compte {
    font-size: 1rem;
  }
  .partie_mon_compte {
    display: flex;
    flex-direction: row;
  }
  .connexion {
    margin-left: 5%;
  }
}

.category_product_name {
  font-family: "Roboto", sans-serif !important;
  font-size: "25px" !important;
  font-weight: "bold" !important;
  text-underline-offset: 2px !important;
}
details {
  text-underline-offset: 2px !important;
}
.lien_aide {
  color: black !important;
}
.nav-header-3:hover {
  color: black !important;
}
.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none !important;
  box-shadow: none !important; /* Pour les navigateurs/frameworks (comme Bootstrap) qui utilisent box-shadow à la place de l'outline */
  border: 0 !important; /* Pour s'assurer qu'aucune bordure ne puisse apparaître */
}
