@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.form-select {
  border-right: 1px solid rgb(54, 52, 52);
  border-left: 0px;
  border-top: 0px;
  border-bottom: 0px;
}

.dropdown-menu {
  display: none;
}
.dropdown-menu.show {
  display: block;
  z-index: 99;
}
.navigation_produit {
  background-color: rgb(78, 77, 77);
  height: 50px;
}
.mon_compte {
  font-family: "Open Sans", sans-serif;
}
.register {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: bolder;
}
.nav-link,
.tel {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: bolder;
}
.select_1 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
}

#navbarCollapse {
  position: fixed;
  top: 0;
  right: -300px; /* menu caché en dehors de l'écran à droite */
  width: 250px;
  height: 100vh;
  background: #ffff; /* couleur de fond */
  transition: right 0.4s ease-in-out;
  padding-top: 60px;
  z-index: 1050; /* pour être au-dessus */
}

/* Quand le menu est affiché */
#navbarCollapse.show {
  right: 0;
}

/* Croix rouge */
#navbarCollapse .close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  background: transparent;
  font-size: 24px;
  color: red;
  cursor: pointer;
}

/* Les liens */
#navbarCollapse ul li {
  list-style: none;
  padding: 15px;
  cursor: pointer;
  transition: background 0.2s;
}

#navbarCollapse ul li:hover {
  background: rgba(255, 255, 255, 0.1);
}
@media (max-width: 575.98px) {
  /* Styles pour les écrans XS */
  .logo {
    width: 50%;
  }
  .icon_user{
    width: 1rem;
  }

  .panier_parent{
    display: flex;
    flex-direction: row;
  }
  .panier_length {
    font-size: 0.9rem;
  }
  .panier {
    font-size: 2.5rem;
  }
  .mon_compte {
    font-size: 1rem;
  }
}

@media (min-width: 576px) {
  .logo {
    width: 100%;
  }
  .panier_length {
    font-size: 0.9rem;
  }
  .panier {
    font-size: 2rem;
  }
  .mon_compte {
    font-size: 1rem;
  }
}
@media (min-width: 768px) {
  .logo {
    width: 100%;
  }
  .dropdown_button_navbar3 {
    margin-left: 5%;
  }
  .panier {
    font-size: 3rem;
  }
  .panier_length {
    font-size: 0.8rem;
  }
  .mon_compte {
    font-size: 1rem;
  }
  .partie_mon_compte {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 992px) {
  .logo {
    width: 50%;
  }
  .dropdown_button_navbar3 {
    margin-left: 15%;
  }
  .panier_length {
    font-size: 0.5rem;
  }
  .panier {
    font-size: 3rem;
  }
  .mon_compte {
    font-size: 1rem;
  }
  .partie_mon_compte {
    display: flex;
    flex-direction: row;
  }
  .connexion{
    margin-left: 5%;
  }
}
