.page_accueil{
  background-color: rgb(250, 250, 250);
}

.marquee-container {
  width: 100%;
  height: 50px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}

.marquee-text {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  position: absolute;
  color: black;
  white-space: nowrap;
  animation-name: moveText;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes moveText {
  0% {
    transform: translateX(100%); /* hors écran à droite */
  }
  100% {
    transform: translateX(-100%); /* hors écran à gauche */
  }
}
