.register_page {
  background: linear-gradient(
      rgba(109, 109, 109, 0.5),
      rgba(109, 109, 109, 0.5)
    ),
    url("../Components/assets/Images/background_register.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.Title_register {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: xx-large;
}
.formulaire {
  border: solid 1px white;
  border-radius: 10px;
  box-shadow: 0px 5px 5px 5px rgba(90, 89, 89, 0.1);
  padding: 20px;
  background-color: white;
}
.label_register,
.Subtitle_register {
  font-family: "Roboto", sans-serif;
  font-size: medium;
  font-optical-sizing: normal;
  font-weight: bold;
}
.Subtitle_register {
  font-weight: normal;
}
.button_register.btn {
  border: solid 1px #0066bd;
  border-radius: 50px;
  background-color: #0066bd;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
.link_connexion_register {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-size: medium;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background: #e0e5ec;
  box-shadow: 6px 6px 10px #c2c8d0, -6px -6px 10px #ffffff;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
}
.input_register {
  height: 45px;
}
.agree {
  font-family: "Roboto", sans-serif;
  font-size: medium;
  font-weight: normal;
}
.img_rectangle {
  position: absolute;
  display: flex;
  bottom: 0%;
  left: 0%;
  width: 100%;
  height: 40%;
  z-index: 99;
}
.img_register {
  margin-left: 8%;
}
@media (max-width: 575.98px) {
  /* Styles pour les écrans XS */
  .link_connexion_register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 576px) {
  .link_connexion_register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .link_connexion_register {
    display: flex;
    flex-direction: row;
  }
}
