/* Main content */
main.light {
  background-color: #f8f9fa; /* clair */
  color: #000; /* texte noir */
}

main.dark {
  background-color: #121212; /* sombre */
  color: #fff; /* texte blanc */
}


/* Sidebar */


/* Images / icônes (optionnel) */
.img-light {
  filter: invert(0);
}

.img-dark {
  filter: invert(1); /* inverse les couleurs pour le mode sombre */
}


/* Analyse des ventes  */
.name_entreprise_dashboard, .taux_moyen, .petit_titre{
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 18px;
}
.name_entreprise_dashboard{
    font-size: 1.5rem;
}
.petit_titre{
    font-weight: normal;
    font-size: 16px;
}
.texte_brut{
  font-size: 13px;
  font-family:"Roboto", sans-serif;
  font-optical-sizing: normal;
}